# 87651260 Applications of Geographic Information System

# Python 101 
## Reference : Python ๑๐๑ - วิศวกรรมคอมพิวเตอร์ จุฬาลงกรณ์มหาวิทยาลัย
## สามารถดาวน์โหลดได้ที่ : https://www.cp.eng.chula.ac.th/books/python101/
## Attawut Nardkulpat, Reseach Officer, Burapha University
### attawut@buu.ac.th
### 01/08/2020

In [ ]:
!python --version

# Data Type, Variable and Expression

## Data Type

In [ ]:
a = b = c = 0.0
print(a)
print(b)
print(c)

In [ ]:
a = 3+97//2**3%8 #a มีค่ำ 3+97//8%8 = 3+12%8 = 3+4 = 7
print(a)

In [ ]:
a = 12//3/2+2**3**2 #a มีค่ำ 12//3/2+2**9 = 12//3/2+512 = 4/2+512 = 2.0+512 = 514.0
print(a)

In [ ]:
a += 2 #a = a + 2
print(a)

In [ ]:
import math
#math.pi, math.e, math.sin(x), math.cos(x), math.sqrt(x), math.log(x,b), ...
a = math.pi
print(a)

In [ ]:
a = math.sin(45)
print(a)

In [ ]:
math.sqrt(4)

In [ ]:
math.log(4,2)

In [ ]:
'12'+'23'

In [ ]:
int('12')

In [ ]:
float('1.2')

In [ ]:
str(12//2)

## input

In [ ]:
a = input()
print(a)

In [ ]:
a = input().strip()
print(a)

In [ ]:
a = int(input())
a = float(input())

# Selection ( if-elif-else )

In [ ]:
if day == "Sunday":
    print("Sleep in")
elif day == "Saturday":
    print("Do chores")
else:
    print("Go to work")

# Repetition ( while, for )

In [ ]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1

In [ ]:
days_of_the_week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for day in days_of_the_week:
    print(day)

In [ ]:
for day in days_of_the_week:
    statement = "Today is " + day
    print(statement)

In [ ]:
for i in range(20):
    print("The square of {} is {}.".format(i, i*i))

## Mix : for , if - elif - else

In [ ]:
for day in days_of_the_week:
    statement = "Today is " + day
    print(statement)
    if day == "Sunday":
        print("   Sleep in")
    elif day == "Saturday":
        print("   Do chores")
    else:
        print("   Go to work")

## ข้อสังเกต

In [ ]:
for k in range(1, 4) :
    print(k)
    k += 2
    print(k)

In [ ]:
k = 1
while k < 4 :
    print(k)
    k += 2
    print(k)

In [ ]:
# DO NOT RUN THIS CODE!!!! 
#while True:
#    print 'Uh Oh infinite Loop!'

# String

In [ ]:
# Use quotation marks for defining string
"Michael Jackson"

# Use single quotation marks for defining string
'Michael Jackson'

# Digitals and spaces in string
'1 2 3 4 5 6 '

# Print the string
print("hello!")

# Assign string to variable
Name = "Michael Jackson"
Name

## Indexing

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsIndex.png" width="600" align="center" />

In [ ]:
print(Name[0])
print(Name[6])
print(Name[13])

## Negative Indexing

In [ ]:
print(Name[-1])
print(Name[-15])

In [ ]:
len("Michael Jackson")

## Slicing

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsSlice.png" width="600" align="center" />

In [ ]:
print(Name[0:4])
print(Name[8:12])

## Stride

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsStride.png" width="600" align="center" />

In [ ]:
# Get every second element. The elments on index 1, 3, 5 ...
Name[1::2]

In [ ]:
# Get every second element in the range from index 0 to index 4
Name[0:5:2]

## Concatenate Strings

In [ ]:
Statement = Name + "is the best"
Statement

In [ ]:
3 * "Michael Jackson"

In [ ]:
Name = "Michael Jackson"
Name = Name + " is the best"
Name

## Escape Sequences

In [ ]:
# New line escape sequence
print(" Michael Jackson \n is the best" )

In [ ]:
# Tab escape sequence
print(" Michael Jackson \t is the best" )

In [ ]:
# Include back slash in string
print(" Michael Jackson \\ is the best" )

In [ ]:
# r will tell python that string will be display as raw string
print(r" Michael Jackson \ is the best" )

## String Operations

In [ ]:
# Convert all the characters in string to upper case
A = "Thriller is the sixth studio album"
print("before upper:", A)
B = A.upper()
print("After upper:", B)

In [ ]:
# Replace the old substring with the new target substring is the segment has been found in the string

A = "Michael Jackson is the best"
B = A.replace('Michael', 'Janet')
B

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsFind.png" width="600" align="center" />

In [ ]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output
Name = "Michael Jackson"
Name.find('el')

In [ ]:
# Find the substring in the string.
Name.find('Jack')

In [ ]:
# If cannot find the substring in the string
Name.find('iasdasdc')

# List

In [ ]:
x = []
y = list()
x == y

In [ ]:
a = [1,2,3]
b = [1,2,3]
c = b
d = list(b)

In [ ]:
len(a)

In [ ]:
x = list(a)
print(x)
x = list('abcde')
print(x)
x = list(range(1,10,2))
print(x)

In [ ]:
type(x)

In [ ]:
x = 2*([1,2,3] + [3,4,5])
print(x)

In [ ]:
x.append(1)
print(x)

In [ ]:
x.insert(0, 0) #x.insert(i, e)
print(x)

In [ ]:
x.pop(0)
print(x)

In [ ]:
x.sort()
print(x)

In [ ]:
sorted(x)

In [ ]:
print(sum(x))
print(max(x))
print(min(x))

In [ ]:
my_list = ['A string',23,100.232,'o']
print(my_list)

In [ ]:
len(my_list)

# Nested List

In [ ]:
x = []
x.append( 1 ) # [1]
x.append( [2,3] ) # [1,[2,3]]
x.append( [4,5,6] ) # [1,[2,3],[4,5,6]]
x.append( [[7,8]] ) # [1,[2,3],[4,5,6],[[7,8]]]
x.append( [] ) # [1,[2,3],[4,5,6],[[7,8]],[]]

In [ ]:
x

# List Comprehension

In [ ]:
lst = [x for x in 'word']
print(lst)

In [ ]:
lst = [x**2 for x in range(0,11)]
print(lst)

In [ ]:
lst = [x for x in range(11) if x % 2 == 0]
print(lst)

In [ ]:
lst = [ x**2 for x in [x**2 for x in range(11)]]
print(lst)

# Tuple, Dictionary and Set

## List&Tuple

In [ ]:
my_list = [1, 2.5, 3, 'A'] #list
my_tuple = (1, 2.5, 3, 'A') #tuple

In [ ]:
print(type(my_list))
print(type(my_tuple))

In [ ]:
my_tuple_2 = (1,)
not_a_tuple = (1)

In [ ]:
print(type(my_tuple_2))
print(type(not_a_tuple))

In [ ]:
t1 = tuple('abc')
t2 = tuple([1, 2, 3])

In [ ]:
print(t1)
print(t2)

## Dictionary

In [ ]:
dict1 = {}
dict2 = dict()

In [ ]:
print(type(dict1))
print(type(dict2))

In [ ]:
D = {'Name':'Sarah'}

In [ ]:
print(D['Name'])

In [ ]:
D['Age'] = 20

In [ ]:
D['Name'] = 'Somsri'

In [ ]:
print(D['Name'])
print(D['Age'])

## Set

In [ ]:
set_1 = set()
set_2 = {1, 2, 3}

In [ ]:
print(type(set_1))
print(set_2)

In [ ]:
set_3 = set('Hello')
set_4 = set(['oh', 'no']) 
set_5 = set(set_2)
set_6 = set({1:2, 3:4})

In [ ]:
print(set_3)
print(set_4)
print(set_5)
print(set_6)

# Function and Recursion

In [ ]:
print(median(3,1,2))

In [ ]:
def median(x,y,z):
    return (x+y+z)-min(x,y,z)-max(x,y,z)

In [ ]:
median(1,2,3)

In [ ]:
def average(x,y):
    return (x+y)/2

In [ ]:
average(10,20)

In [ ]:
def factorial(n):
    if n < 2: return 1
    return n * factorial(n-1)

In [ ]:
factorial(5)

# NumPy

In [ ]:
import numpy as np

## Numpy Basics

In [ ]:
array = np.array([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15])  # 1*15 vector

print(array.shape) # Array dimensions

a = array.reshape(3,5) # Reshape, but don’t change data
print("shape: ",a.shape)
print("dimension: ", a.ndim) # Number of array dimensions
print("data type: ",a.dtype.name) # Data type of array elements
print("size: ",a.size) # Number of array elements
print("type: ",type(a))

array1 = np.array([[1,2,3,4],[5,6,7,8],[9,8,7,5]])
zeros = np.zeros((3,4)) # Create an array of zeros

zeros[0,0] = 5
print(zeros)

np.ones((3,4)) # Create an array of ones

np.empty((2,3)) # Create an empty array

a = np.arange(10,50,5) # Create an array of evenly   spaced values (step value)
print(a)

a = np.linspace(10,50,20) # Create an array of evenly   spaced values (number of samples)
print(a)

print("--------------------------------------")
# Asking for help
np.info(np.ndarray.dtype)

## Numpy Basic Operations

In [ ]:
a = np.array([1,2,3])
b = np.array([4,5,6])

# Arithmetic Operations

print(a+b) # Addition
print(a-b) # Subtraction
print(np.sin(a)) # Print sines of an array
print(np.sqrt(a)) # Square root
print(np.square(a)) # a**2
print(np.add(a,a)) # Addition

a = np.array([[1,2,3],[4,5,6]])
b = np.array([[1,2,3],[4,5,6]])

# element wise prodcut
print(a*b)

# matrix prodcut
a.dot(b.T)

print(np.exp(a)) # Exponentiation
print(np.log(a)) # Element-wise natural logarithm 
a = np.random.random((5,5))

print("---------------------------------------------")
# Aggregate Functions

print(a.sum()) # Array-wise sum
print(a.max()) # Maximum value of an array row
print(a.min()) # Array-wise minimum value 
print(a.sum(axis=0)) # Sum of an array row
print(a.sum(axis=1)) # Sum of an array column
print(a.mean()) # Mean
print(np.std(b)) # Standard deviation
print("---------------------------------------------")

## Indexing and Slicing

In [ ]:
array = np.array([1,2,3,4,5,6,7])   #  vector dimension = 1
print("Array: ",array)
print(array[0]) # Select the element at the zero index

print(array[0:4]) # Select items at index 0, 1, 2 and 3

reverse_array = array[::-1] # Reversed array
print(reverse_array)

print("--------------------------------------------------")

array1 = np.array([[1,2,3,4,5],[6,7,8,9,10]])
print("Array 1: ", array1)
print(array1[1,1]) # Select items at row 1 in column 1
print(array1[:,1])
print(array1[1,1:4]) 
print(array1[-1,:])
print(array1[:,-1])

## Shape Manipulation

In [ ]:
array = np.array([[1,2,3],[4,5,6],[7,8,9]])
print("Array: \n", array)

# Transposing Array
print("Transpose of array :\n", array.T) 

# Changing Array Shape
a = array.ravel() # Flatten the array
array2 = a.reshape(3,3) # Reshape, but don’t change data

# Stacking Arrays
array3 = np.array([[1,2],[3,4]])
array4 = np.array([[-1,-2],[-3,-4]])

# Veritical Combining
array5 = np.vstack((array3,array4))
print("Veritical Combining: \n",array5)
# Horizontal Combining
array6 = np.hstack((array3,array4))
print("Horizontal Combining: \n",array6)

# Different Combining Technique
np.concatenate((array3,array4),axis=0) # Veritical Combining
np.concatenate((array3,array4),axis=1) # Horizontal Combining

## Convert and Copy Array

In [ ]:
# Convert

liste = [1,2,3,4]   # list

array = np.array(liste) # np.array

liste2 = list(array)

a = np.array([1,2,3])

# Copy Array: These operations are incorrect. Because when you change the contents of one array, the other arrays will be affected.
b = a 
b[0] = 5
c = a 

# Copy Array: These operations are correct. 
d =  np.array([1,2,3])
e = d.copy()
f = d.copy()

# Class

In [ ]:
class Book:
    def __init__(self, title, price, keywords):
        self.title = title; self.price = price; self.keywords = set(keywords)

    def __lt__(self, rhs):
        if self.price != rhs.price: return self.price < rhs.price
        else: return self.title < rhs.title

    def __str__(self):
        return self.title + ' ($' + str(self.price) + ')'

    def update_price(self, new_price):
        self.price = new_price

    def get_common_keywords(self, other):
        return self.keywords & other.keywords

In [ ]:
b1 = Book('Python', 99, ['code','computer']) # using __init__
b2 = Book('Calculus', 199, ['maths'])
b3 = Book('Physics', 99, ['science','maths'])
b1.update_price(199)

In [ ]:
print(Book.get_common_keywords(b2,b3)) # {'maths'}

In [ ]:
if b3 < b2: print(b1) # using __lt__ & __str__

In [ ]:
books = [b1,b2,b3]
print(books)

In [ ]:
books.sort() # using __lt__

In [ ]:
print(books[0],',',books[1],',',books[2]) # using __str__
# 'Physics ($99) , Calculus ($199) , Python ($199)